
    <% if current_user %>
    <div class="jobsearch-Container">
        <%= form_tag "/positions", method: 'get', class: "position-search-box"  do %>
            <div class="text-input-box">
                <%= label_tag :search_by_title, "What"%>
                <%= text_field_tag :search_by_title, params[:search_by_title], placeholder: "Job title, keywords, or company" %>
            </div>
            <div class="text-input-box">
                <%= label_tag :search_by_location, "Where" %>
                <%= text_field_tag :search_by_location, params[:search_by_location], placeholder: "City, state, zip code, or 'remote'" %>
            </div>

            <div class="text-input">
                <%= submit_tag("Find Jobs", :onclick => "searchFunction()", :id => 'search') %>
            </div>
        <% end %>
    </div>
    <div >
        <ul id="searchHistory"></ul>
    </div>
    <% else  %>
        <h2>Hey there!</h2>
    <% end %>



