<% if user_signed_in? %>
    <header class="current_user_header">
            <h1><%= link_to "Magic Job Portal", root_path %></h1>
            <ul class="main-nav">
                <li><%= link_to "All Jobs", positions_path%></li>
                <li><%= link_to "Post Job", new_position_path %></li>
                <li><%= link_to "Sign out", destory_user_session_path %></li>
                <li><%= link_to "Edit your" %></li>
            </ul>
    </header>
<% else  %>
    <header class="non_user_header">
        <div>
            <h1><%= link_to "Magic Job Portal", root_path %></h1>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
        </div>
    </header>
<% end %>